[2019-08-12 11:26] kleysonr opened #1 "VillagePlant dataset"
Great work !!!

- How many images per classe do you have ?
- How did you have access to the village plant dataset ?

Best Regards.
Kleyson Rios.

[2019-08-15 02:09] imskr commented on #1
Check ReadMe

[2019-08-15 02:09] #1 closed

[2019-08-22 21:34] kirti-tyagi opened #2 "How to Run the app folder on terminal"
Since I'm new to coding. Could you please tell me how to Run the app folder on terminal so that I can also create the web application for the given model. This is for my research project

[2019-08-22 22:45] imskr commented on #2
For Local Testing:

Run the following commands:

`pip install -r requirements.txt`

Then: `python app/server.py serve`

If you have Docker installed:

[code]

Go to http://localhost:5000/ to test your app.

[2019-08-24 19:01] kirti-tyagi commented on #2
Thankyou Sir,
Local testing worked but what should I do now to launch it to a proper
website to make it accessible to everyone?

On Fri, 23 Aug, 2019, 4:15 AM Shubham Kumar, <notifications@github.com>
wrote:

[2019-08-24 22:10] imskr commented on #2
Simply Deploy it to any web services!

[2019-08-25 21:12] #2 closed

[2020-02-28 17:54] imskr opened #3 "Remove the configuration section from README"

[2020-02-28 18:48] agnes-sharan commented on #3
I can work on this issue

[2020-02-28 18:55] imskr commented on #3
Yes, you can but make sure to open PR from 1st March onwards.

[2020-02-29 03:54] soulhunter10737 commented on #3
I want to contribute to this issue as a part of GSSOC 20. Can you please assign me this issue?

[2020-02-29 07:20] imskr commented on #3
This issue is already assigned. Wait for the other issues. @soulhunter10737

[2020-02-29 09:54] imskr opened #4 "Make UI more cool using HTML/CSS"
Propose the UI with descriptive images here!  Multiple Participants can take this. Best UI will get selected. Provide Final picture of your UI mentioning **Final**

[2020-02-29 14:53] soulhunter10737 commented on #4
I would like to take this issue, please assign me this for GSSoC'20. I am new in this.

[2020-02-29 15:33] imskr commented on #4
@soulhunter10737 You can work on it and propose the UI. But only the best one will be selected and gets the points.

[2020-02-29 15:48] soulhunter10737 commented on #4
Well, then it is not necessary to get assigned for this issue?

[2020-02-29 15:59] imskr opened #5 "Re-Train the model notebook with ResNet-34 Model in Fastai"
You can check the reference code from [ResNet34](https://github.com/imskr/Plant_Disease_Detection/blob/master/notebook/plant_disease_detector.ipynb). Notebook name should be plant_resnet34.ipynb and should live in the notebook directory. Generate the .py file too and save it there.

[2020-02-29 16:14] imskr commented on #4
No @soulhunter10737

[2020-02-29 16:17] imskr opened #6 "Deploy the model on GCP(Google Cloud Platform)"
Add the required configuration and deploy it on GCP.

[2020-02-29 16:21] imskr opened #7 "Add Directory name "deployment_guide""
Add the directory in the root folder and write the **gcp_deployment.md** GUIDE. In this add complete step by step process to deploy this web app on GCP.
Continuing #6
**This is part-2 for issue #6**

[2020-02-29 16:32] imskr opened #8 "Update README with Citation section"
Add Citation: When using any part of this repo, please cite: [Plant Village Paper](https://arxiv.org/abs/1511.08060)

[2020-02-29 16:42] imskr opened #9 "Update README with Server Setup"
Add section **"Server Setup:"** and add [GCP](https://course.fast.ai/start_gcp.html) - Intermediate, [Gradient](https://course.fast.ai/start_gradient.html) - easy, [AWS EC2](https://course.fast.ai/start_aws.html) - Advanced.

[2020-02-29 17:49] soulhunter10737 commented on #9
Can you assign me this issue for GSSoC'20?

[2020-02-29 17:51] soulhunter10737 commented on #7
What is this issue about? Can you explain a bit more?

[2020-02-29 17:51] imskr commented on #9
Yes you can work on this!

[2020-02-29 18:03] imskr commented on #7
Sure

[2020-02-29 18:19] soulhunter10737 commented on #9
Please check , I sent you a PR. Thank You.

[2020-02-29 18:24] soulhunter10737 commented on #8
I would like to take the issue, can you assign me this?

[2020-02-29 20:41] Mansi145 commented on #5
Can I work on this issue? I have less experience with ResNet-34 but I can definitely try to work it out. Can we implement the ResNet model using Keras? Also, how much time can you give me to work on this?

[2020-02-29 20:48] imskr commented on #5
Yes you can do it in keras, I will make another issue regarding it and will notify you.

[2020-02-29 20:51] imskr opened #11 "Implement the model in Keras"
Implement the model in keras & save it in notebook directory with name plant_disease_keras.ipynb

[2020-02-29 20:52] Mansi145 commented on #11
Can I work on this? It seems pretty exciting.

[2020-02-29 20:52] imskr commented on #11
@mansi145 Are you willing to take this?

[2020-02-29 20:56] Mansi145 commented on #11
Yes, I'd like to work on this. In how much time are we expecting the results? I was thinking of giving it 3 to 4 days.

[2020-02-29 21:01] imskr commented on #11
You can take 5 days @Mansi145

[2020-02-29 21:03] Mansi145 commented on #11
Great. I'll get to it.

[2020-02-29 23:57] Ramas1998 commented on #5
I want to contribute to this issue as a part of GSSOC 20. Can you please assign me this issue?

[2020-03-01 01:10] SnehhaPadmanabhan commented on #7
Can you assign this issue to me?

[2020-03-01 01:10] SnehhaPadmanabhan commented on #6
I would like to work on this issue.

[2020-03-01 02:52] imskr commented on #6
Sure @SnehhaPadmanabhan

[2020-03-01 05:14] MsShandilya commented on #11
I would like to work on it.

[2020-03-01 05:26] soulhunter10737 commented on #9
Please don't use
before GCP, Gradient, and AWS EC2. - @imskr  Can you please explain this to me?

[2020-03-01 05:41] soulhunter10737 commented on #7
Hello @imskr  Please assign me this issue, i would like to work on this.

[2020-03-01 05:44] soulhunter10737 commented on #8
I would like to take the issue, can you assign me this?

[2020-03-01 06:52] annu12340 commented on #4
@imskr I would also like to take this up. Could you tell me if you are having any idea in mind or any reference site to take inspiration from

[2020-03-01 08:17] atcodedog32 commented on #11
@MsShandilya That's awesome! However, as it's been first claimed by @Mansi145, let her take this chance first and if she finds any struggle in completing this in a given time duration, we'll reassign this issue to you! Hope this sounds cool! can you please have a look at other issues as well??

[2020-03-01 08:24] vapyc commented on #5
Can you assign this issue to me?

[2020-03-01 08:32] imskr commented on #5
@Ramas1998 @vapyc You both can work on this issue but only one of you will be selected.

[2020-03-01 08:34] imskr commented on #4
I haven't seen any good web application yet for this type of project. You can make it as you like. Make it a little interactive.

[2020-03-01 08:35] imskr commented on #8
You can work on this @soulhunter10737

[2020-03-01 08:37] atcodedog32 opened #15 "Update README with Docker setup on Windows"

[2020-03-01 08:37] imskr commented on #7
@soulhunter10737 Please complete your first task first.

[2020-03-01 08:38] imskr commented on #9
Because of br tag, there is extra space. @soulhunter10737

[2020-03-01 08:40] atcodedog32 opened #16 "Update README with Docker setup on Linux"

[2020-03-01 08:40] atcodedog32 opened #17 "Update README with Docker setup on Mac"

[2020-03-01 09:04] nolimits-sagar commented on #7
Hi @imskr  can you please assign me this issue, I'd like to work on it ?

[2020-03-01 09:06] annu12340 commented on #4
Ok, I would begin prototyping from next week onwards. (I am having exams this week)

[2020-03-01 09:06] nolimits-sagar commented on #15
Hi @atcodedog32  can you please assign this issue to me, I'd like to work on it.

[2020-03-01 09:13] imskr commented on #7
The first part of this issue needs to be solved first! #6 @nolimits-sagar @SnehhaPadmanabhan

[2020-03-01 09:14] imskr commented on #15
Go ahead @nolimits-sagar

[2020-03-01 10:02] Ramas1998 commented on #5
How much time can you give me to work on this?

[2020-03-01 10:03] Ramas1998 commented on #5
Hey,
hw much time can you give me to work on this?

On Sun, 1 Mar 2020, 2:02 pm Shubham Kumar, <notifications@github.com> wrote:

[2020-03-01 10:04] Ramas1998 commented on #5
Hey,
how much time can you give me to work on this?

On Sun, 1 Mar 2020, 3:33 pm Rishika Sharma, <srishikasharma1998@gmail.com>
wrote:

[2020-03-01 10:10] Aditi1709 commented on #4
I would like to work on this too

[2020-03-01 10:16] soulhunter10737 commented on #9
@imskr  understood, please give it a review. Thank you!

[2020-03-01 10:26] soulhunter10737 commented on #8
@imskr please review sir. Thank You!

[2020-03-01 10:48] imskr commented on #4
OK @Aditi1709 Go ahead!

[2020-03-01 10:49] #8 closed

[2020-03-01 10:52] ShuvamChatterjee28 commented on #5
Hey can I work on this issue too?

[2020-03-01 10:55] ShuvamChatterjee28 commented on #11
Hi, can I work on this problem, please?

[2020-03-01 11:03] #9 closed

[2020-03-01 11:09] imskr commented on #11
@ShuvamChatterjee28 Its taken.

[2020-03-01 11:15] soulhunter10737 commented on #4
I will work on this too!

[2020-03-01 11:42] iamdeb28 commented on #11
Hi @imskr , then at least give me this - 'Re-Train the model notebook with ResNet-34 Model #5'.

[2020-03-01 11:51] NeerajSirvisetti commented on #5
@imskr can I work on this as other things which I can do or interested are already assigned and this task I have an experience with transfer learning so can i select this task and do it with tensorflow?

[2020-03-01 12:03] imskr commented on #5
Ok @NeerajSirvisetti Do it in Tensorflow.

[2020-03-01 12:04] imskr commented on #5
@iamdeb28 you can work on this in pytorch

[2020-03-01 12:05] imskr opened #19 "Implement the model in Pytorch"
Make sure to include F1 score, precision, accuracy, recall, and their confusion matrix.

[2020-03-01 12:06] NeerajSirvisetti commented on #19
Can I work on this @imskr?

[2020-03-01 12:07] imskr commented on #19
@iamdeb28 already taken this!

[2020-03-01 12:07] abhishekgupta368 commented on #19
I can work on it

[2020-03-01 12:08] imskr opened #20 "Implement the model in Tensorflow"
Include all parameters such as F1 score, accuracy, recall etc.

[2020-03-01 12:08] abhishekgupta368 commented on #19
can you please assign me

[2020-03-01 12:09] imskr commented on #20
@NeerajSirvisetti  Will, you work on this?

[2020-03-01 12:09] abhishekgupta368 commented on #20
i can work on it?

[2020-03-01 12:09] iamdeb28 commented on #5
cool.

[2020-03-01 12:10] NeerajSirvisetti commented on #20
@imskr can I contribute to this?

[2020-03-01 12:10] abhishekgupta368 commented on #20
can you assign this to me?

[2020-03-01 12:11] imskr commented on #5
@Ramas1998 will you take this?

[2020-03-01 12:11] NeerajSirvisetti commented on #20
I didn't knew tensorflow issue will also be created, I have created a request there too, please accept the tensorflow one as I'm more familiar with tensorflow than pytorch

[2020-03-01 12:12] imskr commented on #5
@iamdeb28 Check issue #19

[2020-03-01 12:13] imskr commented on #20
Done @NeerajSirvisetti

[2020-03-01 12:13] imskr commented on #20
@abhishekgupta368 You can check other issues!

[2020-03-01 12:14] NeerajSirvisetti commented on #20
Thank you @imskr

[2020-03-01 12:14] iamdeb28 commented on #19
I am on it.

[2020-03-01 12:14] iamdeb28 commented on #19
thanks @imskr

[2020-03-01 12:16] imskr opened #21 "Add link to contributors section beside created by [My name]"
In README it is mentioned created by Shubham Kumar. ADD **created by Shubham Kumar and other contributors** and mention the contributor's section link.

[2020-03-01 12:38] darkmatter18 commented on #21
@imskr I'm taking it. Please assign.

[2020-03-01 13:36] sheetalssr commented on #4
I am also interested in this.kindly assign me this so that I can start working on it.

[2020-03-01 13:50] imskr commented on #4
You can propose your prototype @sheetalssr Many people are on this. Best will be taken.

[2020-03-01 13:51] #21 closed

[2020-03-01 13:53] imskr commented on #3
Gentle ping @agnes-sharan!  Are you still working?

[2020-03-01 14:16] soulhunter10737 commented on #16
Assign me this issue. Thanks

[2020-03-01 15:12] SaranshDawra commented on #4
@imskr I was thinking of this UI. It needs some improvement. Open for all suggestions.

![Screenshot (95)](https://user-images.githubusercontent.com/50369485/75628184-99e48d00-5bfc-11ea-958c-241415bd73a5.png)

[2020-03-01 15:58] imskr commented on #4
@SaranshDawra Looks clean and simple. Make heading color same as that plant color in image.

[2020-03-01 17:01] agnes-sharan commented on #3
hi yes I've sent the pull request https://github.com/imskr/Plant_Disease_Detection/pull/24

[2020-03-01 18:07] shubhamgoel90 commented on #11
Hi, can I work on this issue?

[2020-03-01 18:58] SaranshDawra commented on #4
@imskr Please have a look at the updated UI as asked.

![Screenshot (96)](https://user-images.githubusercontent.com/50369485/75631880-a24cc000-5c1c-11ea-8f33-17aca9f5bc31.png)

[2020-03-01 22:36] arpit0891 commented on #11
We can implement model on siamese network keras which gives more accuracy with lesser epochs

[2020-03-01 23:57] imskr commented on #11
@arpit0891 you can propose the solution. Work on this.

[2020-03-02 02:09] Aju100 commented on #16
@imskr  can u assign me this issue.

[2020-03-02 03:01] arpit0891 commented on #11
[plant-diseases-detection-keras-and-siamese-network.zip](https://github.com/imskr/Plant_Disease_Detection/files/4273208/plant-diseases-detection-keras-and-siamese-network.zip)

[2020-03-02 03:05] arpit0891 commented on #11
[plant-disease-detection-keras.zip](https://github.com/imskr/Plant_Disease_Detection/files/4273236/plant-disease-detection-keras.zip)
Using keras

[2020-03-02 05:27] arpit0891 commented on #11
Well I can do this . I am quite new to github ,Soo can you assign me on this? So that I can upload my solution.

[2020-03-02 05:43] darkmatter18 commented on #17
@atcodedog32 I wanna work on it. Please Assign it to me.

[2020-03-02 06:28] shantamsultania commented on #20
I implemented the model using tensorflow backhand and am getting an accuracy of 99 % and i dont think that right at all
I think the dataset is overfitted how can i solve this problem?

[2020-03-02 12:07] annu12340 commented on #4
@imskr I am also having some idea regarding the ui of the site. But I am having exams till 8th. So what can I do? I was looking forward to solving this issue

[2020-03-02 13:30] #3 closed

[2020-03-02 13:35] #17 closed

[2020-03-02 13:42] imskr commented on #4
Don't worry I have extended the deadline! @annu12340

[2020-03-02 13:53] imskr commented on #20
@shantamsultania  Refer [this](https://elitedatascience.com/overfitting-in-machine-learning)

[2020-03-02 16:26] Aju100 opened #28 "update readme"
- create and update ignored file for project
- create virtual environment for it

[2020-03-02 17:57] nikkkhil067 commented on #19
Please assign this to me

[2020-03-02 17:58] nikkkhil067 commented on #6
I would like to work on this
@imskr

[2020-03-02 18:24] atcodedog32 commented on #16
@Aju100 yes, please take up this issue!

[2020-03-03 04:57] imskr commented on #6
@SnehhaPadmanabhan Any progress?
@nikkkhil067 wait for the deadline, as this is assigned.

[2020-03-03 05:29] imskr commented on #16
@Aju100 It should be in the same style as it is for macOS

[2020-03-03 08:07] Aju100 commented on #16
thank you @imskr sir

[2020-03-03 08:15] debdutgoswami commented on #6
I have a good amount of experience in GCP. If the deadline is not meet then can I work on it?

[2020-03-03 09:41] SnehhaPadmanabhan commented on #6
@imskr I still need time. Also, I would like to know the specifications you are looking for. Do you want a VM, or a pod? What are the specifications that have to be incorporated?

[2020-03-03 11:00] soulhunter10737 commented on #7
@imskr Please assign me this issue as soon as the first part is merged. Thank you.

[2020-03-03 13:35] Ishaan28malik commented on #28
Please don't make an issue in order to notify your previous PR @Aju100 . @imskr has reviewed it and if it fits in then it will be merged.

[2020-03-03 13:35] #28 closed

[2020-03-03 13:38] Ishaan28malik commented on #20
@NeerajSirvisetti are you still working on this?

[2020-03-03 13:40] Ishaan28malik commented on #19
@aju100 this is not the way you mention your PR in other issues.

[2020-03-03 14:06] Aju100 commented on #19
sorry i am begineer how to do can u guide me ?

[2020-03-03 14:08] shantamsultania commented on #20
Yes i am

On Tue, 3 Mar 2020 at 7:08 PM, Championrunner <notifications@github.com>
wrote:

[2020-03-03 14:50] shantamsultania commented on #20
https://github.com/shantamsultania/plant-disease-detection-using-tensorflow

this is my response to the issue please look into this
accuracy after resolving to overfit (as much I was able to do without overfitting it was 99.5 % which was wrong )  is  80 %

[2020-03-03 17:04] imskr commented on #20
@shantamsultania okay you can make the PR describing issue in detail and also try to show confusion matrix and all and try to fine tune it to increase F1 score and accuracy and then we will look into your code and @NeerajSirvisetti .

[2020-03-03 17:06] dA505819 commented on #7
I anyone working on this issue @imskr?

[2020-03-03 17:08] imskr commented on #7
@soulhunter10737 @dA505819 First part is needed to be solved first. If you can deploy the model on GCP then you can take the first part #6 and then this one.

[2020-03-03 17:10] imskr commented on #6
For now, I want to get it deployed by any method @SnehhaPadmanabhan. Refer [here](https://course.fast.ai/deployment_google_app_engine.html). If you have any better option you can do it.

[2020-03-03 17:49] dA505819 commented on #7
Google Big Query can also be favoured @imskr?

[2020-03-03 18:23] dA505819 commented on #7
Google Big Query ML can also be favoured @imskr?

[2020-03-04 08:59] imskr commented on #16
@Aju100 Updates?

[2020-03-04 08:59] imskr commented on #15
@nolimits-sagar updates?

[2020-03-04 12:35] aanagran commented on #20
can you assign me this issue?

[2020-03-04 12:38] aanagran commented on #16
can you assign me that issue?

[2020-03-04 12:41] aanagran commented on #19
sir can you assign me this issue?

[2020-03-04 15:59] imskr commented on #19
@Aju100 Not a beginner issue

[2020-03-04 16:00] imskr commented on #19
@iamdeb28 Progress?

[2020-03-04 16:12] nolimits-sagar commented on #15
I am not able to get docker on my windows, sorry unable to contribute for this.

[2020-03-04 16:21] parthsharma07 commented on #4
May I also work on this issue

[2020-03-04 16:37] imskr commented on #4
@parthsharma07 Sure! Go ahead!

[2020-03-04 16:43] imskr commented on #16
@aanagran work on it.

[2020-03-05 09:12] Ishaan28malik commented on #11
@arpit0891 are you still working on this?

[2020-03-05 10:50] soulhunter10737 commented on #7
@imskr I think the dead-line is reached for the first part of this issue( i.e., 5th may). If it is done then assign me this issue.

[2020-03-05 15:27] prakhar154 commented on #11
Hi, i would like to work on this issue

[2020-03-05 18:38] imskr commented on #7
@soulhunter10737 can you work on first part?

[2020-03-05 19:31] iamdeb28 commented on #19
Done, training the model, accuracy is 87% after 10 epoch, finishing the final things, like printing the conf matrix.

[2020-03-05 20:55] imskr commented on #19
@iamdeb28 create PR

[2020-03-05 21:37] FrozenGirl-spd commented on #4
Can i work on the issue?

[2020-03-06 02:37] imskr commented on #4
Yes you can propose your prototype @FrozenGirl-spd

[2020-03-06 03:52] arpit0891 commented on #11
@Ishaan28malik  Yes I am.

[2020-03-06 06:26] soulhunter10737 commented on #7
@imskr  I don't have knowledge on Python. Sorry for this.

[2020-03-07 11:54] Devang-25 commented on #20
@aanagran The Issue has been already assigned. We will assign you a separate issue.

[2020-03-07 20:11] parthsharma07 commented on #4
I was thinking of this dark theme based UI made using bootstrap. There's a PR #31 containing the implementation for the same.
![Screenshot (105)](https://user-images.githubusercontent.com/54538254/76151706-bc374880-60dd-11ea-9cd4-d66ad607bfec.png)

[2020-03-10 08:02] jmuskaan72 commented on #20
@imskr Can I work on this issue?

[2020-03-10 09:34] jmuskaan72 commented on #15
Can I work on this issue @imskr ?

[2020-03-10 10:16] imskr commented on #15
@jmuskaan72 It's yours now!

[2020-03-10 15:41] Aditi1709 commented on #4
I have made one. Please give some suggestions. I am trying on improvising it more. I have created some effects on hovering.
![Screenshot from 2020-03-08 23-52-23](https://user-images.githubusercontent.com/41864816/76330272-a612cd80-6313-11ea-9e37-3ba161903c42.png)

[2020-03-10 15:43] Aditi1709 commented on #11
If the issue is still open, I would like to take it up.I have created a similar model previously.

[2020-03-11 08:28] imskr commented on #4
@Aditi1709 That's look pretty cool. Please create a PR. And add some effects.

[2020-03-11 08:57] imskr commented on #20
@jmuskaan72 Sure

[2020-03-11 11:02] Aditi1709 commented on #4
@imskr I tried out one more design. Kindly suggest which one should I make final and work on more.
![Screenshot from 2020-03-11 16-28-32](https://user-images.githubusercontent.com/41864816/76410343-c4310a00-63b5-11ea-9c3d-bb8abd86cf34.png)

[2020-03-11 16:40] imskr commented on #4
@Aditi1709 The Last one looks cooler. Can you just make that circle on `select image` rectangular with circular edges just like the outer one?

[2020-03-11 17:30] Aditi1709 commented on #4
@imskr Yes that's done. I have added effects which I think are appropriate. Any other suggestions?
![Screenshot from 2020-03-11 22-57-35](https://user-images.githubusercontent.com/41864816/76445757-ecd3f680-63eb-11ea-8d7c-20964c4d3763.png)

[2020-03-11 17:32] imskr commented on #4
@Aditi1709 It's looking good, create the PR.

[2020-03-11 17:34] #19 closed

[2020-03-11 17:57] prakhar154 commented on #11
If no one is working on his, i would like to take it

[2020-03-11 19:29] iamdeb28 commented on #20
can I work and help with this issue too?

[2020-03-11 20:32] Devang-25 commented on #20
@iamdeb28 Sure, you can.
But make sure you guys complete it by the deadline-15th Mar.

Feel free to ask for any help.

Regards.

[2020-03-12 10:06] Parvezi123 commented on #20
Hey @imskr bro, can i work on this , Please assign me this task... and Could you please tell me the steps to work on it, i mean how should i fork or make a PR

[2020-03-12 16:23] #15 closed

[2020-03-12 16:23] Aditi1709 commented on #4
@imskr I have tried running it locally. Did it work in yours?

[2020-03-12 16:24] SaranshDawra commented on #4
@imskr Should I still work on my design?

[2020-03-12 16:27] imskr commented on #11
@Aditi1709 @prakhar154 You both can work on this and make PR. I will select only one among your PR.

[2020-03-12 16:29] imskr commented on #4
@SaranshDawra I think it will be a minor mistake. I have selected that design.

[2020-03-12 16:30] imskr commented on #4
@Aditi1709 make a PR again and mention the steps you used to run it. And also link this issue.

[2020-03-12 16:30] Aditi1709 commented on #4
@imskr Sure I will do the needful

[2020-03-13 07:25] Aditi1709 commented on #4
@imskr I have linux installed in my laptop.I am getting some errors while building the docker setup. I referred to README but the documentation isn't available for Linux. It shows error in the server.py file. I might take some more time; I will complete it before the deadline.

[2020-03-13 07:27] Aditi1709 commented on #11
@imskr  What is the deadline?

[2020-03-13 07:47] Ishaan28malik opened #36 "Hosting the app web version online"
Hosting the web version of the **APP** online or a preview for users to interact.

We need a video for this.

[2020-03-13 07:48] Ishaan28malik commented on #36
Since the previous hosted version is offline now.

[2020-03-14 06:10] prakhar154 commented on #20
hi, can i work on this issue?

[2020-03-14 06:51] poojasrinivass commented on #5
I would like to work on this issue.

[2020-03-14 09:34] #11 closed

[2020-03-14 10:01] Mansi145 commented on #36
Hey @Ishaan28malik, I am new to hosting a web app online but I really want to give it a try. The dependencies of the app are for Linux but unfortunately, I work on windows. Will there be any way I can host the app from Windows. If so, can you please guide me through the process? I'd like to work on this issue.

[2020-03-14 12:09] Ishaan28malik commented on #36
Hey, @Mansi145  so what you need to do here is that just have a look at the UI of the App, By running it locally on your system and then once you are able to see that, you need a hosting server to setup that can be either [Heroku](https://medium.com/@blondiebytes/heroku-hosting-put-your-website-on-the-cloud-cdc8729a7e09) or [elasticbeanstalk](https://aws.amazon.com/elasticbeanstalk/) using your AW

[2020-03-15 10:00] Mansi145 commented on #36
@Ishaan28malik Okay. I think I can give it a try. Are you sure my Windows won't cause me any issues?

[2020-03-15 16:31] Ishaan28malik commented on #36
I am sure there won't be an issue @Mansi145.
Am I correct @imskr ?

[2020-03-17 14:44] imskr opened #38 "Docker build Failing"
When running docker running, build is failing.

[2020-03-17 15:01] Kuljeet-123 commented on #36
@Ishaan28malik @imskr I can implement the demo version of the app to codepen.

[2020-03-17 15:03] imskr commented on #36
@Kuljeet-123 That's great but right now build is failing! As soon as it gets resolved I will assign this!

[2020-03-17 15:58] Mansi145 commented on #36
@imskr will there be an issue if I host the app from my Windows? @Ishaan28malik and I are thinking there won't be any.

[2020-03-17 16:58] Ishaan28malik commented on #36
@Mansi145 for the time being let's hold it because the build of Docker is failing, Once that's solved you are good to go.

[2020-03-19 13:19] imskr opened #39 "Deploy the model locally without docker"
Docker build is fixed now. We want to run locally using pip install -r requirements.txt but it shows error. Fix it(useful for non windows 10 pro users)

[2020-03-19 13:20] Nikita-Sukhwal commented on #39
I would like to work upon this.

[2020-03-19 13:38] darkmatter18 commented on #39
Can I work on it?

[2020-03-19 13:41] darkmatter18 commented on #38
I wanna work on this issue. Please assign

[2020-03-19 13:45] imskr commented on #39
@darkmatter18 its taken!

[2020-03-19 14:55] darkmatter18 commented on #39
Ok. NP

[2020-03-19 17:10] darkmatter18 commented on #6
@imskr I can do this. Please Assign!

[2020-03-19 17:41] #38 closed

[2020-03-19 19:13] imskr commented on #39
@Nikita-Sukhwal can you fix this??

[2020-03-19 19:18] Nikita-Sukhwal commented on #39
Yes @imskr

[2020-03-20 05:03] darkmatter18 commented on #7
@imskr Assign me this. I'll complete this with #6 in a single PR.

[2020-03-20 05:09] imskr commented on #7
Okay, create separate PR for this to get proper credit.

[2020-03-20 13:18] dA505819 commented on #5
@imskr Shall I take this issue? All other issues are assigned.

[2020-03-21 02:27] Aman-Codes opened #41 "Add ISSUE_TEMPLATE"
@imskr I am a GSSOC participant and I would like to add an issue template folder with pull request template and a new issue template.
![pull request](https://user-images.githubusercontent.com/54680709/77217575-9c763a80-6b49-11ea-8af1-5345d3e06d95.PNG)

[2020-03-21 04:47] imskr commented on #41
Looks good. Please create a PR for this!

[2020-03-21 12:36] #41 closed

[2020-03-22 19:14] shivam1423 commented on #5
Can i work on the resnet34 using fast.ai part?

[2020-03-23 14:14] Aman-Codes opened #45 "Update README.MD and Create CONTRIBUTING.md"
**Is your feature request related to a problem? Please describe.**
The README.md file should contain more description about the project and the techstack used.
A separate CONTRIBUTING.md file should be created.

**Describe the solution you'd like**
I would like to add CONTRIBUTING.md file to include the following mentioned features
* How to clone the repository
* Adding  reference to the original

[2020-03-23 16:31] imskr commented on #39
@Nikita-Sukhwal Any updates

[2020-03-23 16:34] #7 closed

[2020-03-23 16:57] Nikita-Sukhwal commented on #39
Yes, I have worked upon flask script and webpages. The thing which is left is I need the trained model. I am looking forward to deploy the one trained using keras framework. There the trained model was saved as res_1.h5. Should I run that notebook to get that trained model or is it available already?

[2020-03-23 17:05] imskr commented on #39
@Nikita-Sukhwal No need to train any models. Just make sure when you run `pip install ---` then it runs in your localhost in browser. We just need this so that other than docker users can use this web app.

[2020-03-24 06:13] darkmatter18 commented on #16
@imskr Seems incomplete! Want to complete. Assign please

[2020-03-24 10:48] Ishaan28malik commented on #4
@imskr do we require more contributions to this particular issue? or are we good to close it?

[2020-03-24 12:43] Mansi145 commented on #20
@imskr @Ishaan28malik What's the status of the issue? If it's available can I work on this?

[2020-03-24 13:30] imskr commented on #20
@jmuskaan72 What's the status?

[2020-03-24 13:32] imskr commented on #4
@Ishaan28malik Aditi is working on this! Close this issue when her PR gets merged.

[2020-03-24 13:33] jmuskaan72 commented on #20
Sorry for the delay, but I'm having some personal issues lately to work on that problem .You can unassign me, I'll look upto some other issues.

[2020-03-24 13:36] #45 closed

[2020-03-24 13:37] #6 closed

[2020-03-24 13:43] imskr opened #47 "Add Deployment on AWS Elasticbeans"
**Is your feature request related to a problem? Please describe.**
Add procedure to deploy this app on AWS elasticbeans in deployment_directory.

[2020-03-24 13:51] imskr commented on #20
okay no issue @jmuskaan72

[2020-03-24 19:18] dA505819 commented on #5
@imskr Why you unassigned me?
The deadline was on 25th March.
And the work is in progress.

[2020-03-24 19:20] imskr commented on #5
You both can work in this!  But please give updates before deadline. @dA505819

[2020-03-24 19:22] dA505819 commented on #5
Okay! But what should I update about?

[2020-03-25 06:38] Aman-Codes opened #49 "Add CODE_OF_CONDUCT.md"
**Is your feature request related to a problem? Please describe.**
No CODE_OF_CONDUCT.md file is present.

**Describe the solution you'd like**
@imskr  As a GSSOC participant I would like to add a CODE_OF_CONDUCT.md file in this project. Using [this]( https://www.contributor-covenant.org/version/1/4/code-of-conduct.html) as a reference.

**Additional context**
### Screenshots

![code of conduct1](

[2020-03-25 15:35] #4 closed

[2020-03-25 15:58] imskr commented on #36
@Aditi1709 Can you do this since recently you changed the UI?

[2020-03-25 15:59] Aman-Codes commented on #49
@imskr  Sir can you please share your email id which I can add in this file where participants can report unacceptable behavior .

[2020-03-25 16:31] imskr commented on #49
Sure @Aman-Codes Its shubhamkrai123@gmail.com and skr@studentpartner.com Add both.

[2020-03-26 04:43] Aditi1709 commented on #36
@imskr  Yes I will try.

[2020-03-26 13:33] darkmatter18 commented on #16
@Ishaan28malik @imskr Seems like someone worked on it recently. Now, what should I do?

[2020-03-28 14:51] #49 closed

[2020-03-28 18:59] Ishaan28malik commented on #16
@atcodedog32 are we still expecting anyone to work on this?

[2020-03-28 19:18] shivam1423 commented on #5
@imskr i have trained model resnet34 using rastai with a error_rate of .8%. And i have uploaded the confusion matrix in the slack group. Now what should i do to finish this?

[2020-03-29 08:45] shivam1423 commented on #5
can you reassign me this issue.

[2020-03-31 05:37] eaglewarrior opened #55 "Trying out different architectures using pytorch to get best model"
**Is your feature request related to a problem? Please describe.**
Will try to improve accuracy by trying a different model

**Describe the solution you'd like**
Will use PyTorch models on the currently available data of  this repo
![image](https://user-images.githubusercontent.com/18038147/77990719-b0871c80-733f-11ea-9be6-b159e79e13f4.png)

[2020-03-31 16:34] Ishaan28malik commented on #36
@imskr you have done it right?

[2020-03-31 16:59] SaraLatif99 commented on #55
I am interested in it.

[2020-04-01 08:22] atcodedog32 commented on #16
It seems not completed yet.. So we can reassign to someone!

[2020-04-01 08:25] atcodedog32 commented on #16
Hey @darkmatter18, please take this forward. Work on it. Kindly try to close this ASAP! :)

[2020-04-01 08:27] darkmatter18 commented on #16
@atcodedog32 Please Assign. Working on it!

[2020-04-01 08:37] Nikita-Sukhwal commented on #55
I am interested in it.

[2020-04-01 12:25] AnaghaSethuraman commented on #55
I am interested in it.

[2020-04-01 15:10] #16 closed

[2020-04-01 15:17] imskr commented on #55
@eaglewarrior You can proceed with this!

[2020-04-01 16:00] imskr commented on #20
@Mansi145 Progress?

[2020-04-01 22:43] jmuskaan72 commented on #55
Sir, can I also work in this issue?

[2020-04-02 08:26] darkmatter18 commented on #47
@imskr @Ishaan28malik Can I take it?

[2020-04-02 19:49] Mansi145 commented on #20
@imskr I'm working on this, Most probably will make a PR by the deadline.

[2020-04-03 14:46] imskr commented on #55
@jmuskaan72 We are assigning only one for one issue now, wait for deadline.

[2020-04-03 16:34] imskr opened #60 "Automatically assign code owners review"
**Is your feature request related to a problem? Please describe.**
Code reviews should automatically assign to PR landed on the codebase.

**Describe the solution you'd like**
Use `CODEOWNERS` refer [here](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax)

[2020-04-03 20:14] chttrjeankr commented on #60
@imskr I'd be willing to solve this. 😊

[2020-04-04 04:20] chttrjeankr commented on #60
![image](https://user-images.githubusercontent.com/39518771/78418383-3c0eef00-7659-11ea-9e8f-4496f6ebb770.png)
I see three users set to review previous PRs. @imskr, DO you want me to add all of them as global users in `CODEOWNERS` so that all of them will be requested for review when someone opens a new PR?

[2020-04-04 04:37] imskr commented on #60
For now, only these will be good to go! @chttrjeankr

[2020-04-04 05:25] chttrjeankr opened #62 "PR template not working as expected"
**Describe the bug**
The PR template doesn't automatically show when raising a PR.

**To Reproduce**
Steps to reproduce the behaviour:
1. Try raising a PR.
2. The PR description box is blank.

**Expected behavior**
The PR template should fill up the PR description box when raising a PR.

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04.4 LTS
 - Brow

[2020-04-04 09:02] debdutgoswami commented on #36
Can I do it? @imskr @Ishaan28malik

[2020-04-04 12:34] Ishaan28malik commented on #36
@debdutgoswami sure

[2020-04-04 12:36] Ishaan28malik commented on #62
@chttrjeankr you can work on it if you think it is an issue.

[2020-04-04 12:36] Ishaan28malik commented on #47
@darkmatter18 sure .

[2020-04-04 12:40] debdutgoswami commented on #36
the docker is failing to build. There is an error installing `torchvision==0.5.0`

[2020-04-04 14:52] dA505819 commented on #5
@imskr Please assign this to @shivam1423

[2020-04-04 14:53] dA505819 commented on #5
I will solve other issues.

[2020-04-05 01:02] imskr commented on #62
@Ishaan28malik I have added the gssoc tag

[2020-04-05 01:08] #60 closed

[2020-04-05 01:11] #62 closed

[2020-04-07 16:54] eaglewarrior commented on #55
@imskr  I will be ready to raise PR by EOD 10th April

[2020-04-08 08:14] Sapna2001 opened #64 "Update Readme"
Readme can be updated with details of mentors,admins,slack channels and details of gssoc. Please assign me this issue.

[2020-04-08 08:18] imskr commented on #64
I'm closing this because this repo is not only meant for GSSoC. Thanks for your time.

[2020-04-08 08:18] #64 closed

[2020-04-08 09:04] iamdeb28 commented on #55
Hi, can I too work in this issue please?

[2020-04-08 09:06] iamdeb28 commented on #20
If this issue open, then can I work here also?

[2020-04-09 08:37] nikkkhil067 commented on #55
Hi, I can too work on this issue, please assign this to me.

[2020-04-09 12:51] eaglewarrior commented on #55
@imskr  I am not able to work on this due to my professional work commitments, please unassign me from this issue.

[2020-04-09 15:13] imskr commented on #55
@eaglewarrior Do you need more time?

[2020-04-09 15:14] imskr commented on #47
@darkmatter18 Progress?

[2020-04-09 15:15] imskr commented on #20
@Mansi145 If you aren't working. I will assign someone else?

[2020-04-09 15:15] darkmatter18 commented on #47
@imskr will submit the PR by tomorrow. Almost done.

[2020-04-09 15:16] Mansi145 commented on #20
@imskr I am currently working. Give me time till tomorrow night then you can assign someone else if you want to.

[2020-04-09 15:18] imskr opened #65 "Design a logo for this app"
**Is your feature request related to a problem? Please describe.**
We need a cool logo for this web application.

This issue is open for everyone, We will select the best one.

Submit the google drive or dropbox link here.

[2020-04-09 15:27] imskr opened #66 "Design the logo animation intro to the web application"
**Is your feature request related to a problem? Please describe.**
We need a text animation intro to our web app.

**Additional context**
Wait before #65 Fixes.

We need something like [this](https://brittanychiang.com/). We need our logo to animate exactly like that.

[2020-04-09 15:28] eaglewarrior commented on #55
Yes actually I have project deadlines due to which I am unable to give time , I really can't predict when I will be able to implement all the listed models.

[2020-04-09 15:51] imskr opened #67 "Add "fork me on github" to the frontend"
**Is your feature request related to a problem? Please describe.**
We need "Fork me on Github" badge in the corner of web app.

**Describe the solution you'd like**
Use [this](http://tholman.com/github-corners/#) and choose the second color.

[2020-04-09 18:43] iamdeb28 commented on #55
Hi @imskr , can you please assign this project to me, if she is not working?

[2020-04-09 19:26] imskr opened #68 "Fix layout issue"
**Describe the bug**
Currently, Text, Heading are not properly aligned.

- Problems:
   - Changing browser size doesn't change the layout
   - Clicking Analyze doesn't display the result (Fixed in #79)

**Screenshots**
![Screenshot from 2020-04-10 00-54-41](https://user-images.githubusercontent.com/42062622/78933037-3d5f7200-7ac6-11ea-9699-6d09d748512b.png)

**Desktop (please complete the followin

[2020-04-09 19:29] imskr commented on #68
@darkmatter18 @Aditi1709 Can you check this? Is it working as expected on your pc?

[2020-04-10 06:14] darkmatter18 commented on #68
@imskr I can check this

[2020-04-10 06:29] nikkkhil067 commented on #65
Please assign this to me

[2020-04-10 06:31] nikkkhil067 commented on #20
@imskr Please assign this to me

[2020-04-10 06:32] nikkkhil067 commented on #55
@imskr  Please assign this to me.

[2020-04-10 07:31] imskr commented on #65
@nikkkhil067 Please avoid taking all issues. Just one issue at a time.

[2020-04-10 10:44] Ishaan28malik commented on #20
@nikkkhil067 currently @Mansi145 is working on this. If she is not able to complete by tomorrow then you can go ahead and complete it .

[2020-04-10 10:45] Ishaan28malik commented on #5
@shivam1423 any updates?

[2020-04-10 10:48] nikkkhil067 commented on #20
ok

[2020-04-10 10:48] Ishaan28malik commented on #47
@darkmatter18 any updates?

[2020-04-10 10:48] darkmatter18 commented on #47
@Ishaan28malik Submitted the PR

[2020-04-10 10:49] Ishaan28malik commented on #39
@Nikita-Sukhwal any updates?

[2020-04-10 10:57] shivam1423 commented on #5
@Ishaan28malik, Yes i have trained a resnet34 using fastai. Achieved a error rate of 0.008542. and ploted a confusion matrix. I have posted in the slack group.

[2020-04-10 11:20] Ishaan28malik commented on #5
ohk

[2020-04-10 15:41] chttrjeankr commented on #65
Does this mean anybody who wishes can be assigned?

[2020-04-10 15:45] chttrjeankr commented on #67
This looks like an issue I'd like to take up, @imskr.

[2020-04-10 20:56] jmuskaan72 commented on #65
Sir, I would also like to work on this. @imskr

[2020-04-10 20:59] jmuskaan72 commented on #65
Sir, can you also explain how to submit the logo if made?

[2020-04-11 03:44] imskr commented on #65
@jmuskaan72 you can make a logo using online tools or share the gdrive link

[2020-04-11 04:56] chttrjeankr commented on #65
Here's my suggestion: [GDrive](https://drive.google.com/open?id=1D-8pd5Ad6vdWHcSdaH-DXXuL6dccow7X)

Contains logo with 2 different backgrounds:
 - 1 transparent background
 - 1 circular white background

[2020-04-11 05:07] #67 closed

[2020-04-11 06:11] chttrjeankr commented on #39
Would like to work on this if @Nikita-Sukhwal isn't. :slightly_smiling_face:

[2020-04-11 06:19] Nikita-Sukhwal commented on #39
@Ishaan28malik I worked upon it, there is some issue occurring in JS of master branch. I discussed with @imskr, he said he is checking it.

[2020-04-11 06:26] imskr commented on #39
@Nikita-Sukhwal you can continue the work. FYI @chttrjeankr is working to make this available using `pip install`

[2020-04-11 06:35] Nikita-Sukhwal commented on #39
Yes, the flask script I am working over will run simply by :  pip install -r requirements.txt and then python webapp.py command

[2020-04-11 06:37] imskr commented on #39
Yes and @chttrjeankr will make sure `pip` works on `root` directory

[2020-04-11 07:53] Ishaan28malik commented on #20
@Mansi145 Take your time.

[2020-04-11 08:56] imskr opened #71 "Docker build gets failed due to pkl file getting download"
**Describe the bug**
Docker build will fail because of pkl file (~80 Mb) if there is weak internet connection

**Expected behavior**
Docker should pass build or use existing pkl model instead of downloading again

[2020-04-11 09:00] chttrjeankr commented on #71
Would like to work on it.

[2020-04-11 10:09] #71 closed

[2020-04-11 23:29] Mansi145 commented on #20
@imskr @Ishaan28malik this is the link to my [Tensorflow Notebook](https://colab.research.google.com/drive/1mN_Ea2t2ycPNIUXcW99vNB5NzuHwA4UZ).

[2020-04-12 07:45] iamdeb28 commented on #55
Hello mentors, I am doing the work, and I wonder, do I have to get all the things I did before, like precision, recall, f1, accuracy for RESNET34?

[2020-04-12 07:45] iamdeb28 commented on #55
Or just Accuracy will be fine?

[2020-04-12 19:27] jmuskaan72 commented on #65
Sir, here's my suggestion under this google drive link:

https://drive.google.com/open?id=1PwZf-uiIo4meUCBuznnDzqs5WfYCHrGK

[2020-04-12 22:22] FrozenGirl-spd commented on #65
@imskr can i work on the issue?

[2020-04-12 22:24] FrozenGirl-spd commented on #65
@imskr can you review this one....

https://drive.google.com/open?id=15zzQ2wQFRZLkv1BiY-hxUWih0JbVgjA3

[2020-04-12 22:27] FrozenGirl-spd commented on #66
Can i work on this issue?

[2020-04-12 22:33] FrozenGirl-spd commented on #68
@imskr can i work on this?

[2020-04-13 06:55] imskr commented on #68
Assigned @FrozenGirl-spd

[2020-04-13 06:56] imskr commented on #66
@FrozenGirl-spd I've assigned you another issue, first fix it.

[2020-04-15 13:17] imskr commented on #68
@FrozenGirl-spd Status?

[2020-04-15 19:53] iamdeb28 commented on #55
Hi, I am working on this, and I have completed DenseNet, VGG16, and RESNET50. Well, Xecption, I surely tried to find, but Pytorch model document, I couldn't able to find it. Also, I will be implementing MobileNetV2 only, instead of two MobileNets. That's all, thank you.

[2020-04-16 12:09] nandanasreeraj123 commented on #65
Can i also try?

[2020-04-16 12:54] imskr commented on #65
@nandanasreeraj123 Yes open to everyone

[2020-04-16 15:13] sanchibansal340 commented on #66
Can I work on this? Or shall I work on issue #65 ?

[2020-04-16 15:25] shwhite17 commented on #65
@imskr I wanna do this, but where I upload my logo here or do I need to pull request?

[2020-04-16 15:30] Adyasha8105 commented on #65
@imskr I also want to do this?

[2020-04-16 15:43] imskr commented on #65
@shwhite17 @Adyasha8105 Go Ahead! Just upload the image in google drive and share the link here. We select the best one among all of you!

[2020-04-16 15:45] imskr commented on #66
@sanchibansal340 you can propose the work on this, like how gonna we will do it. We need something like [this](https://brittanychiang.com/). We need our logo to animate exactly like that.

[2020-04-16 16:41] #47 closed

[2020-04-16 16:58] #5 closed

[2020-04-16 17:02] imskr commented on #55
@iamdeb28 No problem. Just add whatever is available. And make sure you add precision, recall, f1 too along with accuracy.

[2020-04-16 17:03] imskr commented on #55
@iamdeb28 Please make the PR before the deadline.

[2020-04-16 17:17] #20 closed

[2020-04-16 17:25] pa7ri commented on #65
Is there any deadline?

[2020-04-16 17:35] Geesa-Vihara commented on #65
@imskr I would like to work on this

[2020-04-16 17:43] imskr commented on #65
@pa7ri @Geesa-Vihara you both can work on this! We will be extending the deadline to 25th April. Submit the design ASAP.

[2020-04-16 17:43] anurajbhandari5 commented on #36
I can host the web app .by Microsoft Azure ...
Can I do ??

[2020-04-16 17:45] anurajbhandari5 commented on #65
I would like to work on this

[2020-04-16 17:46] imskr commented on #36
@anurajbhandari5 @debdutgoswami We don't need to host it anywhere. We need a video demonstrating how to run the project locally.

[2020-04-16 18:16] debdutgoswami commented on #36
Oh got it. I thought we needed to deploy it.

[2020-04-16 19:39] pa7ri commented on #65
Thanks @imskr I post two designs here, if any specific dimension is required, please tell us.

https://drive.google.com/open?id=1eFagrtNNLdmP4abn0mAQNy6Xmxm4_8I5

[2020-04-17 01:59] Ishaan28malik commented on #68
@FrozenGirl-spd please update, else it will be assigned to someone else.

[2020-04-17 03:55] imskr commented on #65
@pa7ri The first logo seems very good to me. Add a transparent background image of it and one `.png` with white background.

[2020-04-17 04:21] sanchibansal340 commented on #66
What text shall I add?

[2020-04-17 05:27] imskr commented on #66
@sanchibansal340 Updated the issue description!

[2020-04-17 05:50] sanchibansal340 commented on #66
@imskr Can I use a readymade gif or shall I make one of my own?

[2020-04-17 07:09] annu12340 commented on #65
Could you have a look at my logos
https://drive.google.com/open?id=1DxwyISTBaTsJSHum4MmNPG-ht3s3UY0j

[2020-04-17 07:11] ShubhikaBhardwaj opened #77 "Update Project Link in README"
Problem:
The project website link is down.

Suggestion:
The website link should be working and updated in README file.

[2020-04-17 07:54] Geesa-Vihara commented on #65
@imskr Kindly Let me know if there are any further changes to be made
https://drive.google.com/drive/folders/1qk9AV7yLIbfvlMMFtOqvW-ArodZqwUMi?usp=sharing

[2020-04-17 08:05] #77 closed

[2020-04-17 09:56] debdutgoswami commented on #36
When installing the requirements, torch==1.4.0 fails to install everytime

[2020-04-17 13:56] darkmatter18 commented on #68
@Ishaan28malik Can you assign it to me?

[2020-04-17 16:06] Sapna2001 commented on #65
Please review this and suggest changes.
https://drive.google.com/drive/u/0/folders/1Je3ENNca5CJjuAgRoVuAZzmE6ZeT_L5p

[2020-04-18 09:03] arpit0891 commented on #66
If you can provide the logo which is decided... It will be easier to work around it.

[2020-04-18 11:38] anurajbhandari5 commented on #65
https://drive.google.com/file/d/184FknzaM_FEZtHxgNS58OGmJOBjLHalC/view?usp=drivesdk

[2020-04-18 11:53] anurajbhandari5 commented on #65
https://drive.google.com/open?id=1QQVx7z5ybdmnH-F-Dxf4XYctXNifHFyU

[2020-04-18 12:09] anurajbhandari5 commented on #66
i would like to work on it

[2020-04-18 12:13] anurajbhandari5 commented on #66
can you assisgn me

[2020-04-18 12:20] imskr commented on #66
@anurajbhandari5 you have to wait for #65, but you can add the sample case according to description and later on we can integrate our own logo. Understand the feature which is mentioned in the description.

[2020-04-19 20:03] FrozenGirl-spd commented on #68
Sorry.. i had some serious network issues in my location :(

[2020-04-21 20:05] iamdeb28 commented on #55
Sorry @imskr for the late reply, but I have made a new pull request, you can check it out.

[2020-04-24 08:30] Ishaan28malik commented on #68
@FrozenGirl-spd @darkmatter18 any updates?

[2020-04-24 08:31] darkmatter18 commented on #68
@Ishaan28malik Please Check #79

[2020-04-24 08:33] Ishaan28malik commented on #55
@iamdeb28 any updates ?

[2020-04-24 08:34] Ishaan28malik commented on #39
@chttrjeankr @Nikita-Sukhwal any updates or shall I close this one ?

[2020-04-24 08:35] Ishaan28malik commented on #36
@debdutgoswami any updates?

[2020-04-24 08:40] Nikita-Sukhwal commented on #39
@Ishaan28malik it's done from my end, you can close it.

[2020-04-24 08:41] debdutgoswami commented on #36
Yes I have created the PR. I have uploaded the video on `YouTube` as unlisted. Kindly review the PR.

[2020-04-24 08:46] chttrjeankr commented on #39
@Ishaan28malik Sure. I'd say it'd be better to close this issue. The pip packaging is still undone, so maybe we can deal with it in a new issue. That'd be appropriate. 🙂

[2020-04-24 08:54] Ishaan28malik commented on #36
Yeah, I have reviewed it, It will be merged soon.

[2020-04-24 08:55] #39 closed

[2020-04-24 09:08] pranjalkalal commented on #65
https://drive.google.com/file/d/1x0hqcf9mQJ3DsoCDfd1WkbkYN_hZ1YPw/view?usp=sharing

[2020-04-26 08:58] skshahnawaz opened #84 "Implement Material Design to the web application"
## Feature Required
Implement Material Design to the frontend of the web application

[2020-04-28 07:19] imskr commented on #65
@pa7ri I have finalized your logo. If you are in the slack channel hit me a message! Need some changes!

[2020-04-28 09:08] shivam1808 opened #85 "Got an error while running code"
I got the errors as follows:
![issue](https://user-images.githubusercontent.com/46889699/80469171-d400af80-895d-11ea-8a7b-b88b592b2b34.PNG)
Looking forward to your reply. Thank you.

[2020-04-29 06:23] pa7ri commented on #65
As requested via Slack, here I put the logo with high quality and fitting into the background:
https://drive.google.com/open?id=1c3hI_YLyi0hAblh7DNv7LDPmyJiB4Eb9

[2020-04-29 21:06] ShebinJoseph commented on #65
This is the logo I made,if any changes is required,can be edited too
https://drive.google.com/open?id=1NttZjo3_Fawl_CW6bCdXJh91VsyDHlYG

[2020-05-01 19:46] FrozenGirl-spd opened #86 "PR template link is broken"
PR template link is broken.

Steps to reproduce the behavior:
1. Go to '.github/ISSUE_TEMPLATE'
2. The pull request template is not found there.
3. In contributing.md, the link doesn't work out.
4. See error

Screenshots:
![1](https://user-images.githubusercontent.com/51441069/80836474-71840980-8c12-11ea-9cdf-dbbbd3f66aaa.PNG)
![2](https://user-images.githubusercontent.com/51441069/80836477-73e663

[2020-05-04 14:00] ShubhikaBhardwaj commented on #65
@imskr I really like the logo created by @ShebinJoseph .We can mark these logo @ShebinJoseph  and @pa7ri as the top two logos.
@imskr Let me Know what you think about it.
Also, @pa7ri and @ShebinJoseph try creating a PR; this will be something new to learn for both of you! And your logo as a png/jpeg file in proper resolution

[2020-05-04 14:02] ShubhikaBhardwaj commented on #66
@anurajbhandari5 any updates on the progress? You might have already crossed the deadline

[2020-05-04 14:24] Ishaan28malik commented on #84
@skshahnawaz any updates on this?

[2020-05-04 14:24] Ishaan28malik commented on #68
@imskr are we good to close ?

[2020-05-04 19:13] #36 closed

[2020-05-05 14:05] #84 closed

[2020-05-11 06:46] #86 closed

[2020-05-14 10:42] syedareehaquasar commented on #66
please assign this issue to me...

[2020-05-14 10:45] syedareehaquasar opened #90 "Web page design"
I can design the web - page with features using figma

[2020-05-14 10:45] syedareehaquasar commented on #90
please assign this to me @imskr

[2020-05-19 18:57] ShubhikaBhardwaj commented on #90
@syedareehaquasar  I have assigned you this issue, start contributing! :)

[2020-05-21 09:11] syedareehaquasar commented on #90
Thanks :)

[2020-05-21 16:17] syedareehaquasar commented on #90
please review @ShubhikaBhardwaj

[2020-05-21 19:13] arpit0891 commented on #68
Can you assign me this ?

[2020-05-31 17:41] #55 closed

[2020-05-31 17:42] #65 closed

[2020-06-11 22:08] arpit0891 commented on #90
If the design change is for front end (UI we get @80% and not so proper @100%) can you assign this to me?

[2020-06-11 22:54] arpit0891 commented on #90
![Screenshot (1)](https://user-images.githubusercontent.com/42835173/84446972-6e922500-ac64-11ea-805b-19bc168c68e3.png)
Here is a screenshot after changes at 100%

[2020-06-13 05:04] #68 closed

[2020-06-13 05:04] #66 closed

[2020-06-13 05:05] #85 closed

[2020-06-13 05:05] #90 closed

[2020-06-19 03:21] lan786 commented on #85
@shivam1808 Hi, did you solve this problem? If yes then how did you solve it?

[2022-11-17 13:33] Wang-fd opened #98 "运行报错（fail to run server.py）"
你好，我尝试运行这个项目，但是在配置好所有模块后，发现server.py不能运行，请问有解决方案吗？

![image](https://user-images.githubusercontent.com/82301235/202459711-f662d4cd-92f8-42c1-9e28-711197c32ab1.png)

[2022-11-17 13:36] imskr commented on #98
Lots of thing has changed in torch modules. This project is outdated @Wang-fd Thanks for creating this issue.

[2022-11-17 14:03] Wang-fd commented on #98
So, excuse me, can I find some other way to run it?

[2022-11-17 14:17] imskr commented on #98
I am not sure. I will have to debug it locally first.

[2022-11-17 14:18] Wang-fd commented on #98
Ok, thank you very much @imskr